:root {
  --primaryColor: #222231;
  --secondaryColor: #90e5f2;
  --lightColor: #e9fefb;
  --greyColor: #d6d6d6;
  /* ----------Animation---------- */
  --mainTransition: all 0.3s linear;
  /* ----------spacing---------- */
  --navLinksSpacing: 1.44px;
  --headingSpacing: 1.2px;
  --paragraphsSpacing: 2px;
  --captionsSpacing: 2px;
  /* ----------FontSize---------- */
  --mainHeading: 3.5rem;
  --secondHeading: 2.5rem;
  --thirdHeading: 2rem;
  --forthHeading: 1.8rem;
  --paragraphc: 1.4rem;
  --caption: 1.4rem;
  /* ----------Shadows---------- */
  --darkShadow: 3px 6px 16px #0b0b1aaf;
}
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--lightColor);
  background: var(--primaryColor);
  list-style: none;
}
h1 {
  font-size: var(--mainHeading);
  letter-spacing: var(--headingSpacing);
  font-weight: bolder;
}
h2 {
  font-size: var(--secondHeading);
}
h3 {
  font-size: var(--forthHeading);
  font-weight: lighter;
  margin: 2rem 1rem 1rem 1rem;
}
h4 {
  font-size: var(--forthHeading);
  font-weight: lighter;
  color: var(--primaryColor);
}
h4 span {
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  background-color: var(--secondaryColor);
  border-radius: 2rem;
}
p {
  font-size: var(--paragraphc);
  line-height: 1.8rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.08rem;
}

/* ----- SlideBar Container ----- */
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: var(--mainTransition);
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.514);
}
.backdropOff {
  display: none;
  opacity: 0;
}
.slideContainer {
  width: 80vw;
  height: 100vh;
  background: var(--secondaryColor);
  transition: var(--mainTransition);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
}
.slideOff {
  transform: translateX(-200%);
  z-index: -99;
}
.hamBurgerIcon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 100;
}
.toggleBtnC {
  flex: 1;
  border: 0px;
  background: transparent;
  width: 3rem;
  height: 2.6rem;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.HamDiv {
  width: 3rem;
  height: 0.3rem;
  border-radius: 6px;
  background: var(--lightColor);
  transition: var(--mainTransition);
}
.HamOne {
  transform: translateY(240%) rotate(45deg);
}
.HamTwo {
  transform: translateX(-1000%);
  opacity: 0;
}
.HamThree {
  transform: translateY(-240%) rotate(-45deg);
}
.slideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoBig img {
  height: 10rem;
  width: 10rem;
}
.unorderlist li {
  text-align: center;
  list-style: none;
  margin: 5rem auto;
}
.navItems {
  font-weight: bold;
  text-decoration: none;
  color: var(--primaryColor);
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  font-size: var(--caption);
}
.socialLinks {
  position: absolute;
  bottom: 2rem;
}
.socialLinks img {
  margin: 1rem;
}
.activeNavItems {
  box-shadow: var(--darkShadow);
  color: var(--lightColor);
  background-color: var(--primaryColor);
}

/* ----- Header ----- */
.header {
  position: relative;
}
.headerNav {
  display: none;
}
.logo {
  text-align: center;
  margin-top: 2.4rem;
}
@media all and (min-width: 970px) {
  .slideContainer {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  .hamBurgerIcon {
    display: none;
  }
  .logo {
    flex: 0.5;
    margin: 0;
    display: flex;
    align-self: center;
    justify-items: flex-start;
    cursor: pointer;
    margin-left: 6rem;
  }
  .unorderNavlist {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  .navItems {
    color: var(--lightColor) !important;
  }
  .activeNavItems {
    color: var(--primaryColor) !important;
    background-color: var(--secondaryColor);
  }

  .headerNav {
    flex: 0.5;
    display: flex;
    width: 60vw;
    justify-content: space-around;
    align-items: center;
  }
  .navHeaderItems {
    flex: 0.3;
  }
  .socialHeaderLinks {
    position: relative;
    flex: 0.3;
    display: flex;
    justify-content: space-evenly;
  }
}

/* ----- Homepage ----- */
.homepage {
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow: hidden;
}
.typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.typography h3 {
  font-size: 1.4em;
}
.typo {
  text-align: center;
}
.typo p {
  line-height: 2.5rem;
  font-size: 1.2em;
  font-weight: bold;
}
.mainBGImage {
  margin: -5rem;
  position: relative;
  font-size: 4rem;
}
.skills {
  margin-top: -1rem;
}
.triangle {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid black;
  position: absolute;
  top: -1.9em;
}
.tooltext {
  visibility: hidden;
  width: 6em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.4em;
  padding: 0.4em 0;

  /* Position the tooltip */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -100%);
  z-index: 1;
}
.mainBGImage:hover .tooltext {
  visibility: visible;
}
.homepage img {
  width: 41rem;
  transition: var(--mainTransition);
}
.homepage img:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}

.icons img {
  width: 3.2rem;
  margin: 0.3rem;
}
.aboutmeHomePara {
  display: none;
}
@media all and (min-width: 970px) {
  .homepage {
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .homepage > div:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2 / span 3;
  }

  .mainBGImage {
    display: grid;
    place-items: center;
  }
  .mainBGImage img {
    width: 55rem;
    transition: var(--mainTransition);
  }
  .mainBGImage img:hover {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  .aboutmeHomePara {
    display: contents;
  }
  .typography {
    margin-left: 6rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .typography p {
    margin-top: 1rem;
  }
  .typo {
    text-align: start;
  }
  .skillsSet {
    margin-left: 6rem;
    justify-self: start;
  }
}

/* ----- Portfolio ----- */

.portfolio {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.categoryList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  height: 6rem;
  margin-top: 3rem;
}
.categoryList h4 {
  font-size: 1.4rem;
  color: var(--lightColor);
  cursor: pointer;
}
.categoryList h4:focus-visible {
  font-size: 1.6rem;
  font-weight: bold;
}
.ProjectsGrid {
  background: rgba(212, 255, 249, 0.4);
  width: 100vw;
  height: 78vh;
}
.current {
  display: grid;
  place-content: center;
  transition: all 0.5s ease-in;
}
.imageGrid {
  margin: 2rem;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.imageGrid > div:nth-child(1) {
  grid-column: 1/2;
}
.imageGrid > div:last-child {
  grid-column: 2/2;
}
.imageGrid img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}
.projectImage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: var(--darkShadow);
}
.titleOverlay h3 {
  transition: var(--mainTransition);
  z-index: -2;
  opacity: 0;
}
.titleOverlay:hover h3 {
  opacity: 1;
  z-index: 2;
}
a {
  color: var(--lightColor);
}
.titleOverlay:hover {
  opacity: 1;
}
.titleOverlay {
  position: absolute;
  display: grid;
  place-items: center;
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 11rem;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 00%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.Btn {
  background: #0d0d1b;
  opacity: 60%;
  width: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--mainTransition);
  box-shadow: var(--darkShadow);
}
.Btn img {
  width: 10rem;
  object-fit: contain;
  padding: 2rem;
}
.Btn:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

@media all and (min-width: 570px) {
  .imageGrid {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
  .categoryList > div:nth-child(1) {
    justify-self: end;
  }
  .categoryList > div:last-child {
    justify-self: start;
  }
  .imageGrid img {
    height: 11rem;
  }
  .titleOverlay {
    height: 11rem;
  }

  .imageGrid > div:nth-child(1) {
    grid-column: 1/-2;
  }
  .imageGrid > div:nth-child(2) {
    grid-column: 1/-2;
  }
  .imageGrid > div:nth-child(3) {
    grid-column: 1/ -2;
  }
  .imageGrid > div:nth-child(4) {
    grid-column: -2;
  }
  .imageGrid > div:nth-child(5) {
    grid-column: 1/3;
  }
  .imageGrid > div:nth-child(6) {
    grid-column: 1 / span 3;
  }
  .imageGrid > div:nth-child(7) {
    grid-column: 1 / span 1;
  }
  .imageGrid > div:last-child {
    grid-column: 2 / span 2;
  }
}
@media all and (min-width: 770px) {
  .imageGrid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    width: 80vw;
    row-gap: 1rem;
  }

  .imageGrid img {
    height: 15rem;
  }
  .titleOverlay {
    height: 15rem;
  }
  .imageGrid > div:nth-child(1) {
    grid-column: 1/2;
  }
  .imageGrid > div:nth-child(2) {
    grid-column: 1 / span -2;
  }
  .imageGrid > div:nth-child(3) {
    grid-column: 1/-3;
  }
  .imageGrid > div:nth-child(4) {
    grid-column: 2 / span 3;
  }
  .imageGrid > div:nth-child(5) {
    grid-column: 1/-2;
  }
  .imageGrid > div:nth-child(6) {
    grid-column: -2;
  }
  .imageGrid > div:nth-child(7) {
    grid-column: -3;
  }
  .imageGrid > div:last-child {
    grid-column: 3;
  }
}
@media all and (min-width: 1370px) {
  .imageGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .imageGrid img {
    width: 100%;
    height: 20rem;
  }
  .titleOverlay {
    width: 100%;
    height: 20rem;
  }
  .imageGrid > div:nth-child(1) {
    grid-column: 1/2;
  }
  .imageGrid > div:nth-child(2) {
    grid-column: 1 / span -2;
  }
  .imageGrid > div:nth-child(3) {
    grid-column: -3/-3;
  }
  .imageGrid > div:nth-child(4) {
    grid-column: 2 / span 3;
  }
  .imageGrid > div:nth-child(5) {
    grid-column: 1/-2;
  }
  .imageGrid > div:nth-child(6) {
    grid-column: 2;
  }
  .imageGrid > div:nth-child(7) {
    grid-column: 3;
  }
  .imageGrid > div:last-child {
    grid-column: -2;
  }
}

/* ----- Aboutme ----- */

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.aboutme p {
  margin-top: 0.5rem;
  line-height: 1.7rem;
  font-size: 1.4rem;
  width: 90%;
  text-align: center;
  word-spacing: 0.2rem;
}
.aboutPara {
  width: 95vw;
  display: flex;
  justify-content: center;
}
.aboutme h3 {
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}
.show {
  display: contents;
}
.hide {
  display: none;
}
.bg {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 00%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
}
.aboutCertificates {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  z-index: 999;
}
.aboutCertificates h1 {
  margin-top: 2rem;
}
.aboutCertificates img {
  height: 90vh;
  object-fit: contain;
}
.siteLink {
  display: flex;
}
.cv {
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-radius: 2rem;
}

@media all and (min-width: 770px) {
  .aboutPara {
    width: 60%;
  }
}

/* ----- ProjectSingle ----- */

.singleProject {
  overflow: hidden;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backbtn {
  z-index: 9999;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.btn {
  cursor: pointer;
  width: 6rem;
  height: 4.5rem;
  background: var(--secondaryColor);
  border-radius: 0.9rem;
}
.btn img {
  width: 2.4rem;
}
.mainImage {
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100vh;
  z-index: -99;
  opacity: 0.2;
  object-fit: cover;
}
.singleProject h1 {
  margin: 3rem auto 2rem auto;
}
.singleProject p {
  margin-bottom: 1rem;
  width: 70%;
  line-height: 1.8rem;
  font-size: 1.6rem;
  text-align: center;
}
.Slider {
  margin-top: 1rem;
  width: 100vw;
}
.silkSlider {
  width: 100%;
}
.multiImages {
  width: 100%;
  height: 60vh;
  object-fit: contain;
}
@media all and (min-width: 970px) {
  .backbtn {
    top: 8rem;
    left: 6rem;
  }
}

.center {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
